[user]
  email = redwolf85911@gmail.com
  name = junshen
	username = hatelove85911
[diff]
  tool = vimdiff
[difftool]
  prompt = no
[merge]
  tool = vimdiff
  conflictstyle = diff3
	ff = no
[mergetool]
  prompt = no
	keepBackup = false
[alias]
  dt = difftool
  df = diff
  mt = mergetool
  mg = merge
  lg1 = log --graph --abbrev-commit --decorate --date=relative --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
  lg2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
  lg = !"git lg1"
[push]
	default = simple
[http]
[https]
[http]
[https]
[http]
[https]
[http]
[http]
[https]
[http]
[https]
[http]
[https]
[http]
[https]
[http]
[https]
