<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>KeepAlive</key>
    <false/>
    <key>Label</key>
    <string>syncmybin</string>
    <key>ProgramArguments</key>
    <array>
        <string>bash</string>
        <string>-c</string>
        <string>/usr/local/bin/unison -auto -batch -repeat watch ~/百度云同步盘/mymeta/home/bin ~/bin</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>StandardErrorPath</key>
    <string>/Users/Aaron/Library/Logs/syncmybin-error.log</string>
    <key>StandardOutPath</key>
    <string>/Users/Aaron/Library/Logs/syncmybin.log</string>
</dict>
</plist>
