snippet ui5view "ui5 view"
<mvc:View
  controllerName="$1"
  xmlns:mvc="sap.ui.core.mvc"
  displayBlock="true"
  xmlns="sap.m">
  $0
</mvc:View>
endsnippet

snippet ui5page "ui5 page"
<$1Page title="{$2}">
  <content>
	$0
  </content>
</$1Page>
endsnippet


snippet i18nb "i18n xml binding" i
"{i18n>$1}"$0
endsnippet

snippet bb "data binding" i
"{$1>$2}"$0
endsnippet
